@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: inter;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #116530;
  padding: 4px 50px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100; /* Prevents overlap */
}

#navbar-custom{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-custom li{
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

#navbar-custom li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  transition: 0.1s ease-in-out;
}

#navbar-custom li a:hover{
  color: #A3EBB1;
  border-bottom: 3px solid #A3EBB1;
}

#mobile {
  display: none;
}

#mobile i{
  color: #E1B768;
}

#acme-logo-r {
  width: 80px;
  height: 80px;
}

@media screen and (max-width:900px) {
  #navbar-custom{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 88px;
      right: -300px;
      width: 300px;
      height: 100vh;
      background-color: #116530;
      box-shadow: 0px 40px 60px rgb(0, 0, 0, 0.1);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
  }

  #navbar-custom.active{
      right: 0px;
  }

  #navbar-custom li{
      margin-bottom: 25px;
      background-color: #116530;
  }

  #mobile {
      display: block;
  }

  #mobile i{
      font-size: 24px;
      cursor: pointer;
  }

  #acme-logo-r {
      width: 60px;
      height: 60px;
  }
}

#paragraph_header {
  color: #116530;
  font-family: inter;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: 500;
}

.custom-footer {
  color: #116530;
}

#footer_logo {
  height: 60px;
  width: 55px;
}

.calc-button {
  padding-bottom: 50px;
}

#home-img-1 {
  height: 1000px;
}

.img-about-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 5%;
  margin-top: 12%;
}

