.mapdiv {
    margin-top: 10%;
    margin-left: 15%;
    border: 1px solid black;
    height: 600px;
    width: 1000px;
}

.address{
    margin-top: 5px;
    margin-left: 25%;
    color: black
}

.address form {
    margin: auto;
}

.address form label{
    border: 1px solid black;
}

.address form input{
    border: 1px solid black;
}